/*advantages*/
.advantages {
  width: 100%;
}

.advantages__list {
  .list-reset();
}

.advantages__image {

}

.advantages__item {
  padding: 24px 26px;
  background-color: @grey;
  &--accent{
    background-color: @blue;
    padding: 54px 19px 0px 19px;
  }
  &--icon{
    padding: 22px 19px;
    background-color: @white;
  }

}

.advantages__image-icon {

}

.advantages__title {
  .heading();

  &--icon{
    text-align: left;
  }
  &--accent{
    color: @white;
  }
}

.advantages__description {
  .description__block();
  color: @white;
  &--icon {
    text-align: left;
  }
  &--accent {
    color: @white;
  }
}
