/*button*/
.button{
  .button();
  &--menu{
    background-color: @white;
  }
  &--search{

  }
  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #669ec0;
    color: #ffffff4d;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}
