/*form*/
.form{
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__item{
  border-style: none;
  margin: 0;
}

.form__title{
  float: left;
}
