/*hero*/ /*25.08*/
.hero{
  background-color: #89b3ce;
  background-image: url("../../img/hero__mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-width: @tablet-width) {
    background-image: url("../../img/hero__tablet.jpg");
  }

}

.hero__image{
  display: block;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 85px;
}
