/*hero*/ /*25.08*/
.hero{
  background-color: #81b3d2;
  background-image: url("../img/");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__image{
  display: block;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 85px;
}
