/*hotel-search*/
.hotel-search{
  padding: 38px 18px 49px 18px;
}

.hotel-search__title{
  .heading();
}

.hotel-search__description{
  .description__block();
}

.hotel-search__button{
  width: 284px;
  height: 58px;
  margin-top: 15px;
}
