/*modal*/
.modal{
 /*  position: fixed; */
  z-index: 5;
  margin: auto;
  
}

.modal__wrapper{
background-color: @white;
}

.modal__content{
  padding: 45px 54px;
  &--ok{

  }
  &--wrong{

  }
}

.modal__box{
  margin: 0 auto;
}

.modal__caption{
  .heading();
  margin-bottom: 26px;
}

.modal__text{
  .description__block();
  margin-bottom: 25px;
}

.modal__button-box{


}

.modal__button{

  &--ok{

  }
  &--close{

  }
}
