/*name*/ /*25.08*/
.name{

}

.namе__title{
   .heading();
  &--font{

  }
}

.namе__list{
 .list-reset();
}

.namе__item{
  .list-reset();
}

.namе__desc{
  .description__block();
}

.name__input{
  background-color: #;
  &:hover{
    background-color: #;
  }
  &:active{
    background-color: #;
  }
}
