/*navigation*/
.navigation{
  width: 100%;
  &--closed{

  }

  &--nojs{

  }
}

.navigation__toggle{
background-color: transparent;
border: none;
cursor: pointer;
@media (min-width: @tablet-width) {
  display: none;
}
}

.navigation__wrapper{
  @media (min-width: @tablet-width) {
    width: 690px;
    margin: 0 auto;
  }
  @media (min-width: @desktop-width) {
    width: 1040px;
    margin: 0 auto;
  }

}

.navigation__list{
  .list-reset();
}
