/*page-header*/ /*24.08*/
.page-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: @white;
  }


.page-header__logo{
  height: 96px;
  text-align: center;
}

.page-header__logo-image{

}


