/*page-footer*/
.page-footer{
  width: 320px;
}

.page-footer__wrapper{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 29px 0;
}

.page-footer__visit{

}

.page-footer__social{

}
.page-footer__copyright{

}
