/*page-header*/ /*24.08*/
.page-header{
  background-color: @white;
  margin: 0 auto;
  position: absolute;
  }


.page-header__logo{
  margin: 0 auto;
}

.page-header__logo-image{

}

.page-header__navigation{
  margin: 0 auto;
}
