/*page-header*/
.page-header{
  width: 100%;
  padding: 0 18px;
  background-color: @white;
  display: flex;
}

.page-header__logo{
  margin: 0 auto;
}

.page-header__logo-image{

}

.page-header__navigation{

}
