/*video*/
.video{
  padding: 24px 20px 0px;
  @media (min-width: @tablet-width) {
    padding: 50px 60px 0px;
  }
  }

  .video__title{
    .heading();
    margin-bottom: 28px;
    @media (min-width: @tablet-width) {
      font-size: 30px;
    }
  }

  .video__discription{
    .description__block();
    margin-bottom: 40px;
    @media (min-width: @tablet-width) {
    padding: 0px 100px;
    }
  }

  .video__presentation{
    @media (min-width: @tablet-width) {
    width: 648px;
    height: 500px;
    }
    @media (min-width: @desktop-width) {
      margin: 0 auto;
      display: block;
      width: 800px;
      height: 685px;
    }
  }
