/*video*/
.video{
  padding: 24px 20px 0px;
  }

  .video__title{
    .heading();
    margin-bottom: 28px;
  }

  .video__discription{
    .description__block();
    margin-bottom: 40px;
  }

  .video__presentation{
    
  }
