/*variables*/
@black: #000000;
@blue: #81B3D2;
@white: #ffffff;
@gray: #EEEEEE;
@font-family-base: "PT Sans", "Arial", sans-serif;
@tablet-width: 768px;
@desktop-width: 1200px;
@font-size-base: 14px;
